<div *ngIf="parts">
  <div class="card" *ngIf="parts.length > 0">
    <div class="card-body" >
      <div *ngIf="parts.length != 0">
        <div>
         <div class="row">
            <h5 [translate]="'Courses.CourseParts'" class="mr-3 my-auto"></h5>
          </div>
        </div>
        <div id="group-list"  class="flex-column">
          <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
            <li class="sis&#45;&#45;list-group-item">
              <div class="d-flex justify-content-center align-items-center">
                <div class="sis&#45;&#45;list-group-item_lg_column d-none d-md-block " [translate]="'Courses.TitleSingular'"></div>
                <div class="sis&#45;&#45;list-group-item_lg_column d-none d-xl-block" [translate]="'Forms.CoursePartPercent'"></div>
                <div class="sis&#45;&#45;list-group-item_lg_column d-none d-xl-block" [translate]="'Forms.CalculatedCoursePart'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column text-left"></div>`
              </div>
            </li>
          </ul>
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let part of parts">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column text-truncate d-none d-md-block "><span class="text-dark">{{ part.displayCode }} - {{ part.name }}</span></div>
                <div class="sis--list-group-item_lg_column d-none d-xl-block"><span class="text-secondary">{{ part.coursePartPercent }}</span></div>
                <div class="sis--list-group-item_lg_column d-none d-xl-block"><span class="text-secondary">
                  {{'Forms.calculatedCoursePart.' + part.calculatedCoursePart  | translate}}</span></div>
                <div class="sis--list-group-item_sm_column text-right">
                  <a [routerLink]="['/courses', part.id, 'dashboard', 'overview']" class="text-primary text-decoration-none"
                     [translate]="'Courses.View'"></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="parts?.length == 0">
    <div class="card">
      <div class="card-header  mt-3" >
        <div class="row">
          <h5 [translate]="'Courses.CourseParts'" class="mr-3 my-auto"></h5>
        </div>
      </div>
      <div class="card-body pt-0 pb-3">
      <div class="card-text row pb-2">
        <div class="col-auto text-dark pl-3">
          <span [translate]="'Courses.NoCourseParts'"></span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

