<div class="d-flex justify-content-between mb-3">
  <h6 [translate]="'Students.RemovalInfo'" class="mr-3 my-auto"></h6>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.AcademicYear'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.removalYear?.alternateName}}</span>
  </div>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.AcademicPeriod'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{'Periods.' + student?.removalPeriod?.alternateName | translate}}</span>
  </div>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.RemovalDate'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.removalDate | date : 'shortDate'}}</span>
  </div>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.RemovalReason'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.removalReason}}</span>
  </div>
</div>
<div class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.RemovalDecision'"></span>
  </div>
  <div class="col-7 text-dark">
    <span>{{student?.removalDecision}}</span>
  </div>
</div>
<div *ngIf="student?.user?.name"  class="form-group row mb-1">
  <div class="col-5">
    <span [translate]="'Students.UserName'"></span>
  </div>
  <div class="col-7 text-dark">
    <a href="#/users/{{student?.user?.id}}/dashboard/overview">{{student?.user.name}}</a>
  </div>
</div>
