<div class="report-card">
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search [showMore]="false" [(filter)]="filter.value" [collapsed]="true" [table]="documents">
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <ng-container *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ItemDocument'"></span>
        </ng-container>
        <ng-container *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Documents.ItemDocuments'"></span>
        </ng-container>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <!--no action-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table (load)="onDataLoad($event)" [showFooter]="false"  #documents></app-advanced-table>
    </div>
  </div>
  <app-document-download></app-document-download>
</div>
