<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.Registrations'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>
