<div class="row">
  <div class="col-12 tab-navbar tab-container">
    <ul class="nav nav-tabs d-flex">
      <li class="nav-item tab-brand disabled">
        <a class="nav-link disabled" href="javascript:void(0)"
          [translate]="'Statistics.Title'"></a>
      </li>
      <ng-container *ngFor="let item of availableRoutes">
        <li class="nav-item">
          <a class="nav-link" [translate]="item.label"
            [routerLink]="[item.route]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"></a>
        </li>
      </ng-container>
      <li class="nav-item tab-buttons disabled ml-auto">
        <div class="btn-toolbar" role="toolbar">
          <div class="dropdown mr-2">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text-dots"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let item of availableRoutes" class="dropdown-item" [routerLink]="[ item.route ]" >{{item.label | translate}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col col-12 mt-4">
    <router-outlet *ngIf="availableRoutes && availableRoutes.length > 0"></router-outlet>
    <div class="w-100 text-center" *ngIf="availableRoutes && availableRoutes.length == 0">
      <div>
        <div class="mt-4">
          <div class="icon-circle bg-gray-300 border-gray-100"></div>
        </div>
        <div class="mt-4">
          <h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
