<ng-container *ngIf="config && body">
  <div class="w-100 text-center" *ngIf="body && body.length === 0">
    <div>
      <div class="mt-4">
        <div class="icon-circle bg-gray-300 border-gray-100"></div>
      </div>
      <div class="mt-4">
        <h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
        <p class="font-lg text-dark" [translate]="'Tables.EmptyTableMessage'"></p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="groups.length === 0">
    <div class="row mt-4">
      <app-advanced-aggregator-list [body]="body" [config]="config" (clickEvent)="onActionEvent($event)" class="col-12">
      </app-advanced-aggregator-list>
      <div *ngIf="config.aggregators && config.aggregators.length > 0"
        class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2 w-100">
        <div *ngFor="let aggregator of config.aggregators">
          <span *ngIf="aggregator.label"> {{ aggregator.label | translate }} </span>:
          <span class="font-weight-bold"> {{ body | callAggregator: aggregators: aggregator.name }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="groups.length === 1">
    <ng-container *ngFor="let group of body | groupBy: groups[0].name | keyvalue">
      <div class="row mt-4">
        <h4 class="col text-secondary"> {{ groups[0].title | aggregatorListTitle: group.key }} </h4>
        <app-advanced-aggregator-list [body]="group.value" [config]="config" (clickEvent)="onActionEvent($event)"
          class="col-12">
        </app-advanced-aggregator-list>
      </div>

      <!-- Footer for the group -->
      <div *ngIf="config.aggregators && config.aggregators.length > 0"
        class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2 w-100">
        <div *ngFor="let aggregator of config.aggregators">
          <span *ngIf="aggregator.label"> {{ aggregator.label | translate }} </span>:
          <span class="font-weight-bold"> {{ group.value | callAggregator: aggregators: aggregator.name }} </span>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="groups.length > 1">
    <ng-container *ngFor="let group of body | groupBy: groups[0].name | keyvalue">
      <div class="row mt-4">
        <h4 class="col text-secondary"> {{ groups[0].title | aggregatorListTitle: group.key }} </h4>
        <div *ngFor="let subgroup of group.value | groupBy: groups[1].name | keyvalue" class="col-12 ml-4 pl-4">
          <div class="row mt-4">
            <h6 class="col-12 text-secondary"> {{ groups[1].title | aggregatorListTitle: subgroup.key }} </h6>
            <app-advanced-aggregator-list [body]="subgroup.value" [config]="config" (clickEvent)="onActionEvent($event)"
              class="col-12">
            </app-advanced-aggregator-list>
          </div>

          <!-- Footer for each subgroup -->
          <div *ngIf="config.aggregators && config.aggregators.length > 0"
            class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2 w-100">
            <div *ngFor="let aggregator of config.aggregators">
              <span *ngIf="aggregator.label"> {{ aggregator.label | translate }} </span>:
              <span class="font-weight-bold"> {{ subgroup.value | callAggregator: aggregators: aggregator.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>