<div *ngIf="specialties">
  <div class="card">
    <div class="card-body ">

      <div class="row ml-auto my-auto">
        <h5 [translate]="'StudyPrograms.Specialties'" class="mr-3 my-auto"></h5>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'StudyPrograms.Name'"></div>
              <!-- <div class="sis--list-group-item_lg_column d-none d-md-block text-center"
                [translate]="'StudyPrograms.ID'"></div> -->
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let specialty of specialties">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column"><span
                  class=" text-dark">{{ specialty.name }}</span></div>
              <!-- <div class="sis--list-group-item_lg_column d-none d-xl-block text-right"><span
                  class="text-dark">{{ specialty.id }}</span></div> -->
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>