<div class="row">
  <div class="col col-12">
    <div class="row">
      <div class="col col-12">
        <form ngForm="search">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
              placeholder="{{'Settings.SearchHelp'| translate }}"
              [(ngModel)]="search" 
              aria-label="Large" aria-describedby="inputGroup-sizing-sm"
              autofocus
              spellcheck="true"
              tabindex="0"
              id="searchSection" 
              name="searchSection">
            <div class="input-group-append">
              <button class="btn btn-light border-0" title="{{'Settings.Clear'}}" type="button">
                <i class="fas fa-backspace text-secondary" (click)="search=null"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col col-12" *ngIf="reportTemplates && reportTemplates.length === 0">
        <div class="w-100 text-center">
          <div>
            <div class="mt-4">
              <div class="icon-circle bg-gray-300 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
              <p class="font-lg text-dark" [translate]="'Tables.EmptyTableMessage'"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12" *ngIf="reportTemplates && reportTemplates.length > 0">
        <div class="row">
          <div class="col col-12">
            <div class="card" *ngFor="let template of reportTemplates | filterBy: ['description', 'name']: search">
              <div class="card-body">
                <div class="d-flex">
                  <div>
                    <h5 class="card-title">{{ template.name }}</h5>
                    <p class="card-text" *ngIf="template.description">{{ template.description }}</p>
                  </div>
                  <div class="ml-auto">
                    <button
                      class="btn btn-light pull-right"
                      [translate]="'Statistics.Export'"
                      (click)="handleReportPrint(template.id)"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
