<form class="mt-2 collapsible-form ">
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="studyprogramname" [translate]="'StudyPrograms.Νame'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyprogramname" name="studyprogramname"
                    type="text" [(ngModel)]="model.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="departmentname" [translate]="'StudyPrograms.DepartmentName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentname" name="departmentname"
                    type="text" [(ngModel)]="model.department.name">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="semesters" [translate]="'StudyPrograms.Semesters'"></label>
                <input [disabled]="true" class="form-control bg-white" id="semesters" name="semesters" type="text"
                    [(ngModel)]="model.semesters">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="studylevel" [translate]="'StudyPrograms.StudyLevel'"></label>
              <div *ngIf="model.studyLevel; else noStudyLevel">
                <input [disabled]="true" class="form-control bg-white" id="studylevel" name="studylevel" type="text"
                    [value]="'StudyLevels.' + model.studyLevel.alternateName | translate">
              </div>
              <ng-template #noStudyLevel>
                <input [disabled]="true" class="form-control bg-white" id="nam" type="text">
              </ng-template>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="id" [translate]="'StudyPrograms.ID'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text"
                    [(ngModel)]="model.id">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group text-dark">
                <label for="datemodified" [translate]="'StudyPrograms.GeneralInfoTab.studyLevel.dateModified'"></label>
                <input [disabled]="true" class="form-control bg-white" id="datemodified" name="datemodified" type="text"
                    [value]="model.studyLevel.dateModified | date : 'shortDate'">
            </div>
        </div>
    </div>
</form>
